<?xml version="1.0" encoding="utf-8" standalone="no"?>
<widget appId="11532131" channelCode="0000" height="480" pid="" sreensize="4.5" version="00.00.0001" viewmode="application" widgetId="" width="320">
	<name>AppCan Native 开发</name>
	<description/>
	<author email=""> </author>
	<icon src="icon.png"/>
	<license href=""/>
    <!--如果需要单元测试脚本，就用index2.html-->
	<content encoding="utf-8" src="index2.html"/>
	<updateurl/>
	<logserverip/>
	<showmyspace>false</showmyspace>
	<obfuscation>false</obfuscation>
	<bgcolor>#fefefe</bgcolor>
	<orientation>1</orientation>
	<debug enable="true"/>
<partobfuscation>false</partobfuscation>
<webapp/>
</widget>
